<ng-toast [width]="450" [position]="ToasterPosition.TOP_RIGHT" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
        <h1 class="title">Bus Service Rankings</h1>

        <!-- Rankings List -->
        <div *ngFor="let ranking of rankings" class="ranking-card">
            <div class="ranking-info">
                <p><b>Bus:</b> {{ ranking.bus.busId }}</p>
                <p><b>Bus line:</b> {{ ranking.bus.busLine }}</p>
                <p><b>Manufacturer:</b> {{ ranking.bus.manufacturer }}</p>
            </div>
            <div class="ranking-score">
                <p><b>Score:</b> {{ ranking.score.toFixed(0) }}</p>
                <p><b>Rank:</b> {{ ranking.rank }}</p> <br>
                <div class="ranking-actions">
                    <button class="move-btn up" (click)="moveBusUpByRank(ranking.bus.busId)">
                        Move Up
                    </button>
                    <button class="move-btn down" (click)="moveDown(ranking.bus.busId)">
                        Move Down
                    </button>
                </div>
            </div>
        </div>
        

        <hr class="divider">
        <p class="add-time-title">Add svailable service time slot:</p>
        <div class="time-slot-container">
            <input type="date" [(ngModel)]="timeSlotDate" class="date-input">
            <button class="add-time-btn" (click)="addTimeSlot(timeSlotDate)">Add Time Slot</button>
        </div>
    </div>


