<h1 class="text-white">Rankings</h1>
<div *ngFor="let ranking of rankings" class="text-white flex-row">
    <p>---------</p>
    <div>BUS : {{ ranking.bus.busId }}</div>
    <div>SCORE : {{ ranking.score }}</div>
    <div>RANK : {{ ranking.rank }}</div>
    <div class="flex">
        <button class="flex flex-row w-[100px] h-[34px] rounded-[10px] bg-white justify-center items-center hover:bg-lightGrey transition-[0.5s]"
        on-click="moveBusUpByRank(ranking.bus.busId)" >
    <p class="font-manrope text-darkGrey font-semibold text-[12px]">Move up nigger</p>
        </button>
        <button class="flex flex-row w-[100px] h-[34px] rounded-[10px] bg-white justify-center items-center hover:bg-lightGrey transition-[0.5s]"
        on-click="moveDown(ranking.bus.busId)" >
    <p class="font-manrope text-darkGrey font-semibold text-[12px]">Move down nigger</p>
        </button>
    </div>
  </div>
  <div>
    <input type="date" [(ngModel)]="timeSlotDate"  class="border p-2 rounded" >
    <button class="flex flex-row w-[100px] h-[34px] rounded-[10px] bg-white justify-center items-center hover:bg-lightGrey transition-[0.5s]"
    on-click="addTimeSlot(timeSlotDate)" >
<p class="font-manrope text-darkGrey font-semibold text-[12px]">Add time slot nigger</p>
    </button>
  </div>