<form #RegisterForm="ngForm" (ngSubmit)="registerUser(RegisterForm)">    
    <div class="form-container">
        <img src="../../../assets/Logo.png" class="logo-img"/>
        <div class="flex-row-spacing">
            <div class="form-column">
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">First Name</p>
                    <input class="input-field"
                            placeholder="e.g. John" ngModel name="name"
                            type="text" required>
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Last Name</p>
                    <input class="input-field"
                            placeholder="e.g. Doe" ngModel name="lastname"
                            type="text" required>
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Date of Birth</p>
                    <input class="input-field"
                            placeholder="MM/DD/YYYY"
                            type="date" ngModel name="dateOfBirth">
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Phone number</p>
                    <input class="input-field"
                            placeholder="Enter your phone number" ngModel name="phone"
                            type="text">
                </div>
            </div>
            <div class="spacer"></div>
            <div class="form-column">
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Username</p>
                    <input class="input-field"
                            placeholder="e.g. john" ngModel name="username"
                            type="text" required>
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Email</p>
                    <input class="input-field"
                            placeholder="you@gmail.com" ngModel name="email"
                            type="email" required>
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Password</p>
                    <input class="input-field"
                            placeholder="Enter your password" ngModel name="password"
                            type="password" required>
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                    <p class="text-[14px] mb-2">Confirm password</p>
                    <input class="input-field"
                            placeholder="Re-enter your password"
                            type="password">
                </div>
            </div>
        </div>
        <button class="submit-button"
                type="submit">
            <p class="button-text">Sign Up</p>
            <!--<fa-icon [icon]="faArrowRight" class="w-[32px] ml-[10px] text-darkGrey"/>-->
        </button>
    </div>
</form>
