<div *ngIf="formOpen" class="fixed inset-0 flex items-center justify-center bg-[#000000] bg-opacity-40 z-50">
    <div class="bg-[#A0A0A0] rounded-[5px] p-8 w-[745px] h-[838px]">    <h2 class="text-2xl font-semibold">Add New Shift</h2>
    <form #newShiftForm="ngForm" (ngSubmit)="addShift(newShiftForm)">
      <div class="mb-4">
        <label for="userId" class="block text-sm font-medium">User ID:</label>
        <input type="text" id="userId" name="userId" class="form-input mt-1 block w-full" required [(ngModel)]="newShift.userId">
      </div>
      <div class="mb-4">
        <label for="routeId" class="block text-sm font-medium">Route ID:</label>
        <input type="text" id="routeId" name="routeId" class="form-input mt-1 block w-full" [(ngModel)]="newShift.routeId">
      </div>
      <div class="mb-4">
        <label for="startTime" class="block text-sm font-medium">Start Time:</label>
        <input type="datetime-local" id="startTime" name="startTime" class="form-input mt-1 block w-full" [(ngModel)]="newShift.startTime">
      </div>
      <div class="mb-4">
        <label for="endTime" class="block text-sm font-medium">End Time:</label>
        <input type="datetime-local" id="endTime" name="endTime" class="form-input mt-1 block w-full" [(ngModel)]="newShift.endTime">
      </div>
      <div class="mb-4">
        <label for="location" class="block text-sm font-medium">Location:</label>
        <input type="text" id="location" name="location" class="form-input mt-1 block w-full" [(ngModel)]="newShift.location">
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Add Shift</button>
    </form>
  </div>
  </div>
  