<div *ngIf="formOpen" class="fixed inset-0 flex items-center justify-center bg-opacity-40 z-50 font-manrope text-white">
  <div class="flex flex-col bg-[#A0A0A0] rounded-[10px] w-[30%] h-[90%] items-center p-4">
    <h2 class="text-[36px] font-semibold">Add New Shift</h2>
    <form #newShiftForm="ngForm" (ngSubmit)="addShift(newShiftForm)" class="flex flex-col justify-evenly w-full h-full">
      <div class="flex flex-col justify-center w-full">
        <p class="font-light text-[16px] mb-2">User ID</p>
        <div class="flex flex-row items-center w-full">
          <input type="text" id="userId" name="userId" [(ngModel)]="newShift.userId"
                 class="rounded-[10px] w-full h-[40px] bg-lightGrey/20 px-2 py-4 text-white"
                 placeholder="User ID" required>
        </div>
        <hr class="w-full text-white my-4"/>
      </div>

      <div class="flex flex-col justify-start w-full">
        <p class="font-light text-[16px] mb-2">Route ID</p>
        <div class="flex flex-row items-center w-full">
          <input type="text" id="routeId" name="routeId" [(ngModel)]="newShift.routeId"
                 class="rounded-[10px] w-full h-[40px] bg-lightGrey/20 px-2 py-4 text-white"
                 placeholder="Route ID">
        </div>
        <hr class="w-full text-white my-4"/>
      </div>

      <div class="flex flex-col justify-start w-full">
        <p class="font-light text-[16px] mb-2">Start Time</p>
        <div class="flex flex-row items-center w-full">
          <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="newShift.startTime"
                 class="rounded-[10px] w-full h-[40px] bg-lightGrey/20 px-2 py-4 text-white"
                 placeholder="Start Time">
        </div>
        <hr class="w-full text-white my-4"/>
      </div>

      <div class="flex flex-col justify-start w-full">
        <p class="font-light text-[16px] mb-2">End Time</p>
        <div class="flex flex-row items-center w-full">
          <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="newShift.endTime"
                 class="rounded-[10px] w-full h-[40px] bg-lightGrey/20 px-2 py-4 text-white"
                 placeholder="End Time">
        </div>
        <hr class="w-full text-white my-4"/>
      </div>

      <div class="flex flex-col justify-start w-full">
        <p class="font-light text-[16px] mb-2">Location</p>
        <div class="flex flex-row items-center w-full">
          <input type="text" id="location" name="location" [(ngModel)]="newShift.location"
                 class="rounded-[10px] w-full h-[40px] bg-lightGrey/20 px-2 py-4 text-white"
                 placeholder="Location">
        </div>
      </div>
      <div class="flex w-full justify-center items-center">
        <button type="submit" class="w-[300px] h-[50px] font-manrope font-semiLight text-white rounded-[10px] text-[25px] 
                bg-lightGreen hover:bg-deepGreen transition-[0.5s] mt-4">
          Add Shift
        </button>
      </div>
    </form>
  </div>
</div>
