<div class="container">
  <div class="top-row">
      <div class="statistics-section">
          <h2>Employment Statistics (All Time)</h2>
          <canvas id="employmentChartCanvas"></canvas>
      </div>
      <div class="statistics-section">
          <h2>Roles Statistics</h2>
          <canvas id="rolesChartCanvas"></canvas>
      </div>
  </div>
  <div class="bottom-row">
      <div class="statistics-section">
          <h2>Age Statistics</h2>
          <canvas id="employmentAgeChartCanvas"></canvas>
      </div>
  </div>
</div>