<div class="flex flex-col w-full gap-4">
    <div class="flex flex-row justify-between w-full items-center p-4">
        <div class="flex flex-row items-center gap-2">
            <img src="../../../assets/icons/DashboardIcon.png" class="size-[24px] icon"/>
            <p class="text-primaryBlack text-[24px] font-medium">Dashboard</p>
        </div>
        <button class="flex flex-row py-2 px-4 items-center gap-2 rounded-md bg-primaryDarkGreen hover:bg-primaryLightGreen transition-[0.5s]">
            <img src="../../../assets/icons/PlusIcon.png" class="size-[20px] nav_menu_icon"/>
            <p class="text-primaryWhite text-[16px]">Add new widget</p>
        </button>
    </div>
    <hr class="text-primaryGrey/50 w-full">

</div>