<div class="fixed inset-0 flex items-center justify-center bg-primaryBlack/40 z-[30] font-manrope text-white">
    <div class="flex flex-col w-[800px] h-auto max-h-[800px] bg-primaryWhite rounded-[10px] p-4 gap-8 relative">
        <div class="flex flex-row w-full items-center justify-between">
            <p class="text-[24px] font-semibold text-primaryDarkGreen">Edit bus</p>
            <button class="flex size-[30px] rounded-md bg-primaryDarkGreen items-center justify-center 
                            hover:bg-primaryLightGreen transition-[0.5s]"
                (click)="activeModalService.close()">
                <img src="../../../assets/icons/CloseIcon.png" class="size-[20px] nav_menu_icon">
            </button>    
        </div>
        <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">General bus informations</label>
        <div class="flex flex-col w-full gap-2">
            <div class="flex flex-row items-center w-full gap-4">
                <div class="flex flex-col w-full">
                    <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">Licence plate</label>
                    <input [(ngModel)]="licencePlate" 
                            #licencePlateModel="ngModel"
                            class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" 
                            [placeholder]="bus.licencePlate" type="text"
                            pattern="^[A-Z]{2}-?\d{1,4}-?[A-Z]{2}$" 
                            required
                            maxlength="11"
                            (ngModelChange)="licencePlate = formatLicensePlate(licencePlateModel.value)"/>
                </div>
                  
                <div class="flex flex-col w-full">
                    <label for="ManufactureDate" class="text-primaryBlack/70 font-regular text-[12px]">Manufacture date</label>
                    <input [placeholder]="bus.malfunctionDate" [(ngModel)]="manufactureDate" type="date" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                </div> 
            </div>

            <div class="flex flex-row items-center w-full gap-4">
                <div class="flex flex-col w-full">
                    <label for="SeatingCapacity" class="text-primaryBlack/70 font-regular text-[12px]">Seating capacity</label>
                    <input type="number" [placeholder]="bus.seatingCapacity" [(ngModel)]="seatingCapacity" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                </div> 
                <div class="flex flex-col w-full">
                    <label for="CurrentMileage" class="text-primaryBlack/70 font-regular text-[12px]">Current mileage (in km)</label>
                    <input type="number" [placeholder]="bus.currentMileage" [(ngModel)]="currentMileage" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                </div> 
            </div>

            <div class="flex flex-col w-full">
                <label for="chassis" class="text-primaryBlack/70 font-regular text-[12px]">Chassis number</label>
                <input type="number" [placeholder]="bus.chassisNumber" [(ngModel)]="chassisNumber" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
            </div> 

            @if(bus.type === 'ElectricBus') {
                <hr class="w-full text-primaryGrey">
                <div class="flex flex-col w-full gap-2">
                    <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">Electric bus informations</label>
                    <div class="flex flex-row items-center w-full gap-4">
                        <div class="flex flex-col w-full">
                            <label for="BatteryHealth" class="text-primaryBlack/70 font-regular text-[12px]">Battery health (in %)</label>
                            <input type="number" min="0" max="100" [placeholder]="electricBus.batteryHealth" [(ngModel)]="batteryHealth" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="BatteryCapacity" class="text-primaryBlack/70 font-regular text-[12px]">Battery capacity</label>
                            <input type="number" min="0" max="100" [placeholder]="electricBus.batteryCapacity" [(ngModel)]="batteryCapacity" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                        </div>
                    </div>
                </div>
            }
            @if(bus.type === 'ICEBus') {
                <hr class="w-full text-primaryGrey">
                <div class="flex flex-col w-full gap-2">
                    <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">ICE Bus informations</label>
                    <div class="flex flex-row items-center w-full gap-4">
                        <div class="flex flex-col w-full">
                            <label for="EngineDisplacement" class="text-primaryBlack/70 font-regular text-[12px]">Engine displacement</label>
                            <input type="number" [placeholder]="iceBus.engineDisplacement" [(ngModel)]="engineDisplacement" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="HorsePower" class="text-primaryBlack/70 font-regular text-[12px]">Horse power</label>
                            <input ftype="number" min="0" max="2000" [placeholder]="iceBus.horsePower" [(ngModel)]="horsePower" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen my-1.5" />
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">Transmission</label>
                        <div class="flex flex-row w-full items-center gap-8">
                            <div class="flex flex-row gap-2 items-center">
                                <input type="radio" [(ngModel)]="busType" [value]="'Automatic'"/>
                                <p class="text-primaryBlack text-[14px]">Automatic</p>
                            </div>
                            <div class="flex flex-row gap-2 items-center">
                                <input type="radio" [(ngModel)]="busType" [value]="'Manual'"/>
                                <p class="text-primaryBlack text-[14px]">Manual</p>
                            </div>
                        </div>                    
                    </div>
                </div>
            }
        </div>  
        <div class="flex flex-col w-full max-h-[500px] overflow-y-auto p-4 rounded-md border-[1px] border-lightGrey">
            <div class="flex flex-row gap-2 items-center">
                <p class="text-primaryBlack/50 tracking-wide text-[14px] font-regular">CURRENT ROUTES</p>
                <button class="flex flex-row py-1.5 px-3 gap-2 items-center rounded-md bg-primaryDarkGreen 
                                hover:bg-primaryLightGreen transition-[0.5s]"
                        (click)="addRouteToBus()">
                    <img src="../../../assets/icons/PlusIcon.png" class="size-[15px] nav_menu_icon"/>
                    <p class="text-primaryWhite font-manrope text-[12px]">Add new</p>
                </button>
            </div>
            @if (bus.routes.length <= 0) {
                <div class="flex flex-col w-full my-2">
                    <p class="text-[24px] font-semibold text-primaryBlack">There are no routes to display</p>
                    <p class="text-[16px] font-light text-primaryBlack">
                        You can arrange the bus on a new route by pressing the <span class="font-medium text-primaryDarkGreen">"Add new"</span> button
                    </p>
                </div>
            } @else {
                <div class="flex flex-row flex-wrap justify-evenly gap-4 w-full">
                    @for (route of busRoutes; track $index) {
                        <div class="flex flex-row px-4 py-4 border-[1px] border-primaryGrey/50 rounded-md mt-2 gap-8 relative
                                    hover:border-primaryLightGreen transition-[0.5s] hover:shadow-md">
                            <div class="flex flex-row items-center w-auto gap-2">
                                <div [ngClass]="{'bg-cityRoutes' : route.type === 'CITY_ROUTE',
                                                'bg-suburbanRoutes' : route.type === 'SUBURBAN_ROUTE'}"  
                                    class="flex rounded-full bg-[#E6C79C] items-center text-center justify-center p-2">
                                    <img src="../../../assets/icons/travel.png" class="nav_menu_icon size-[15px]"/>
                                </div>
                                <p class="text-primaryBlack font-manrope font-semibold text-[16px]">{{route.name}}</p>
                            </div>
                            <button class="flex flex-row gap-2 items-center group button-hover-effect">
                                <img src="../../../assets/icons/TrashIcon.png" class="size-[14px] opacity-50 nav_menu_icon_red"/>
                                <p class="text-primaryBlack group-hover:text-lightRed group-hover:opacity-100 
                                        opacity-50 font-manrope text-[12px] transition-[0.5s]"
                                    (click)="deleteBusFromRoute(route.id, bus.id)">
                                    Delete
                                </p>
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="flex flex-row w-full items-center justify-end">
            <button class="bg-primaryDarkGreen hover:bg-primaryLightGreen flex flex-row h-[45px] w-[220px] rounded-md justify-center items-center gap-2 transition-[0.5s]"
                    (click)="edit()" >
                Save
            </button>
        </div>
    </div>
</div>