<!-- <div class="flex flex-col w-full h-full p-4 font-manrope text-white items-center">
    <div class="flex flex-row w-full h-[13%] justify-between items-center">
        <div class="flex flex-col w-[400px]">
            <p class="text-[16px] text-primaryBlack font-normal">Enter route name</p>
            <div class="flex flex-row justify-between w-full rounded-[10px] border-[1px] 
                        h-[50px] border-white/60 bg-white/0 w-full px-2 py-4 items-center">
                <input class="bg-white/0"
                        placeholder="e.g. 7A" ngModel name="password"
                        type="text" required>
                <button class="w-[25px]">
                    <fa-icon [icon]="faSearch"/>
                </button>
            </div>
        </div>
        <button class="flex items-center justify-center bg-white/0 h-full">
            <p class="underline font-semibold text-[24px]">Show all</p>
        </button>
    </div>
    @if (this.mostFrequentedRoute != null) {
        <div class="flex flex-col w-full mt-6">
            <p class="font-manrope text-white text-[16px] font-light">The most frequently chosen route</p>
            <hr class="w-full text-lightGrey/20 my-2">
            <app-route-list-item
                [routeId]="this.mostFrequentedRoute.id"
                [routeName]="this.mostFrequentedRoute.name"
                [startTime]="this.mostFrequentedRoute.openingTime"
                [endTime]="this.mostFrequentedRoute.closingTime"
                [isUser]="true">
            </app-route-list-item>
            <p class="font-manrope text-white text-[16px] font-light mt-12">All routes</p>
            <hr class="w-full text-lightGrey/20 my-2">
        </div>
    }
    <div class="flex flex-col h-[70%] w-full overflow-y-auto mt-6">
        @for (route of routes; track $index) {
            <app-route-list-item
                [routeId]="route.id"
                [routeName]="route.name"
                [startTime]="route.openingTime"
                [endTime]="route.closingTime"
                [isUser]="true">
            </app-route-list-item>
        }
    </div>
</div> -->

<div class="flex flex-col w-full h-full p-4 gap-8 font-manrope text-white items-center justify-between">
    <div class="flex flex-row w-full h-[13%] justify-between items-center">
        <div class="flex flex-col w-[400px] gap-2">
            <p class="text-[16px] text-primaryBlack font-normal">Enter route name</p>
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" [(ngModel)]="searchText" (input)="searchRoutes()"
                        class="placeholder:italic block w-full p-4 ps-10 text-sm text-primaryBlack border border-gray-300 rounded-lg bg-gray-50 focus:ring-primaryGreen focus:border-primaryGreen" 
                        placeholder="e. g. 7A" required />
            </div>
        </div>
    </div>
    <div class="flex flex-col h-full w-full overflow-y-auto p-4 gap-8 border-[1px] border-primaryGrey/50 rounded-md">
        <div class="flex flex-row w-full items-center justify-between">
            <div class="flex flex-row gap-4 items-center"> 
                <div class="flex flex-row items-center gap-2">
                    <img src="../../../assets/icons/travel.png" class="size-[24px] icon"/>
                    <p class="text-primaryBlack text-[24px] font-medium">Routes</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="flex flex-row gap-2">
                    <div class="flex size-[20px] rounded-full bg-cityRoutes"></div>
                    <p class="font-manrope text-primaryBlack text-[12px] font-light">City routes</p>    
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex size-[20px] rounded-full bg-suburbanRoutes"></div>
                    <p class="font-manrope text-primaryBlack text-[12px] font-light">Suburban routes</p>    
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            @if (filteredRoutes.length > 0) {
                @for (route of filteredRoutes; track $index) {
                    <app-route-list-item
                        [routeId]="route.id"
                        [routeName]="route.name"
                        [startTime]="route.openingTime"
                        [endTime]="route.closingTime"
                        [routeType]="route.type"
                    />     
                }
            } @else {
                <div class="col-span-full">
                    <p class="text-[24px] font-semibold text-primaryBlack">There are no routes to display</p>
                </div>
            }
        </div>
    </div>
</div>