.user-component {
  margin-top: 1.5rem;
}
.profile-pic {
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: black; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-image-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: gray; 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.plus-sign {
  font-size: 26px;
  color: #FFF;
}
.profile-pic:hover .no-image-plus {
  opacity: 1; 
}
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.profile-pic:hover .overlay {
  opacity: 1;
}
.username {
  font-size: 1.125rem;
}
.role {
  font-size: 0.875rem;
}
.signout-button {
  width: 16rem;
  height: 2.6875rem;
}
@media (max-width: 768px) {
  .profile-pic {
    width: 4rem;
    height: 4rem;
  }
  .username {
    font-size: 1rem;
  }
  .role {
    font-size: 0.75rem;
  }
  .signout-button {
    width: 14rem;
    height: 2.5rem;
  }
}
