<div class="side-panel flex flex-col items-center justify-center mt-0 mb-0 p-4 bg-darkGrey rounded-lg shadow-lg">
    <div class="avatar flex rounded-full w-[90px] h-[90px] bg-white mb-4">
        <img [src]="getAvatarUrl()" alt="User Avatar" class="w-full h-full object-cover">
    </div>
    <div class="user-info flex flex-col items-center">
        <p class="username text-xl font-bold ">{{loggedUser?.username}}</p>
        <p class="full-name text-lg font-medium ">{{loggedUser?.name}} {{loggedUser?.lastname}}</p>
        <p class="role text-md font-light text-gray-300">
            <ng-container *ngIf="loggedUser?.roles === 'ROLE_DRIVER'">Bus driver</ng-container>
            <ng-container *ngIf="loggedUser?.roles === 'ROLE_SERVICE'">Bus servicer</ng-container>
            <ng-container *ngIf="loggedUser?.roles === 'ROLE_CHARGER'">Bus charging services</ng-container>
        </p>
    </div>
    <button class="lang-button flex flex-row w-full max-w-[300px] h-[45px] rounded-lg 
            transition-all duration-300 ease-in-out mt-4"
        (click)="changeLanguage()">
        <p class="text-lg font-bold">{{'Change language' | transPipe }}</p>
        <fa-icon [icon]="faLanguage" class="w-[12px] ml-2"/>
    </button>
    <button class="sign-out-button flex flex-row w-full max-w-[300px] h-[45px] rounded-lg 
                   transition-all duration-300 ease-in-out mt-4"
            (click)="signOut()">
        <p class="text-lg font-bold">{{'Sign out' | transPipe}}</p>
        <fa-icon [icon]="faSignOut" class="w-[18px] ml-2"/>
    </button>
</div>
