<div *ngIf="isLoading" class="loading-container">
    <div class="text-center">
        <p class="loading-text">Genetic algorithm is generating charging plan.</p>
        <p class="loading-text">This can take up to 10 seconds...</p>
        <div class="spinner"></div>
    </div>
</div>

<div *ngIf="!isLoading" class="container">
    <h1 class="header">Charging an Results</h1>

    <div class="table-header">
        <div class="table-row">
            <div class="table-cell"><b>Bus ID</b></div>
            <div class="table-cell"><b>Station ID</b></div>
            <div class="table-cell"><b>Charging Time</b></div>
            <div class="table-cell"><b>Start Time</b></div>
            <div class="table-cell"><b>End Time</b></div>
        </div>
    </div>

    <div *ngFor="let genOutput of geneticOutputFull" class="table-row">
        <div class="table-cell"><b>{{ genOutput.elBus.elBusId }}</b></div>
        <div class="table-cell"><b>{{ genOutput.chStation.chargerId }}</b></div>
        <div class="table-cell">{{ genOutput.chargingTime }}</div>
        <div class="table-cell">{{ genOutput.startTime | date: 'short' }}</div>
        <div class="table-cell">{{ genOutput.endTime | date: 'short' }}</div>
    </div>

    <button class="regeneratebutton" (click)="regenerateChargingPlan()">
        <p>Regenerate Charging Plan</p>
    </button>
</div>
