<!-- Loading Indicator -->
<!-- Loading Indicator -->
<div *ngIf="isLoading" class="flex justify-center items-center h-screen w-screen">
    <div class="text-center" style="margin-left: -300px;">
        <p class="text-3xl sm:text-4xl md:text-5xl lg:text-3xl text-white mb-2">Genetic algorithm is generating charging plan.</p>
        <p class="text-3xl sm:text-4xl md:text-5xl lg:text-3xl text-white">Please wait...</p>
    </div>
</div>


<!-- Data Display -->
<div *ngIf="!isLoading" class="text-white flex flex-col bg-gray-800 rounded-lg p-4 mb-4">
    <div class="flex flex-wrap items-center mb-2 border-b border-gray-600 pb-2">
        <div class="w-full sm:w-1/4 px-2">
            <p class="text-lg sm:text-xl"><b>Charging Station ID</b></p>
        </div>
        <div class="w-full sm:w-1/4 px-2">
            <p class="text-lg sm:text-xl"><b>Charging Time</b></p>
        </div>
        <div class="w-full sm:w-1/2 flex px-2">
            <div class="w-1/2 px-2">
                <p class="text-lg sm:text-xl"><b>Start Time</b></p>
            </div>
            <div class="w-1/2 px-2">
                <p class="text-lg sm:text-xl"><b>End Time</b></p>
            </div>
        </div>
    </div>
    <div *ngFor="let genOutput of geneticOutputFull" class="flex flex-wrap items-center mb-2">
        <div class="w-full sm:w-1/4 px-2">
            <p class="text-lg sm:text-xl"><b>Charging Station ID:</b> {{ genOutput.chStation.chargerId }}</p>
        </div>
        <div class="w-full sm:w-1/4 px-2">
            <p class="text-lg sm:text-xl"><b>Charging Time:</b> {{ genOutput.chargingTime }}</p>
        </div>
        <div class="w-full sm:w-1/2 flex px-2">
            <div class="w-1/2 px-2">
                <p class="text-lg sm:text-xl"><b>Start Time:</b> {{ genOutput.startTime | date: 'short' }}</p>
            </div>
            <div class="w-1/2 px-2">
                <p class="text-lg sm:text-xl"><b>End Time:</b> {{ genOutput.endTime | date: 'short' }}</p>
            </div>
        </div>
    </div>
</div>
