<button class="flex flex-row w-[258px] h-[43px] rounded-[10px] bg-white justify-center items-center mt-20 hover:bg-lightGrey transition-[0.5s]">
    <p class="font-manrope text-darkGrey font-semibold text-[16px]">Sign In</p>
    <fa-icon [icon]="faArrowRight" class="w-[16px] ml-[10px] text-darkGrey"/>
</button>
<div class="flex flex-row w-full items-center justify-center justify-between my-8">
    <hr class="flex w-[50px] text-white">
    <p class="flex text-white font-manrope font-light text-[12px]">Don't have an account yet?</p>
    <hr class="flex w-[50px] text-white">
</div>
<button class="flex flex-row w-[258px] h-[43px] rounded-[10px] border-[1px] border-white justify-center items-center text-white
                hover:bg-white hover:text-darkGrey transition-[0.5s]">
    <p class="font-manrope font-semibold text-[16px]">Sign Up</p>
    <fa-icon [icon]="faArrowRight" class="w-[16px] ml-[10px]"/>
</button>