<div class="fixed inset-0 flex items-center justify-center bg-primaryBlack/40 z-[30] font-manrope text-white">
    <div class="flex flex-col w-[900px] h-[700px] bg-primaryWhite rounded-[10px] items-center justify-between justify-center p-4 gap-4 relative">
        <div class="flex flex-row w-full items-center justify-between">
            <p class="text-[24px] font-semibold text-primaryDarkGreen">Station details</p>
            <button class="flex size-[30px] rounded-md bg-primaryDarkGreen items-center justify-center 
                            hover:bg-primaryLightGreen transition-[0.5s]"
                (click)="modalService.close()">
                <img src="../../../assets/icons/CloseIcon.png" class="size-[20px] nav_menu_icon">
            </button>    
        </div>
        <div #mapContainer class="flex h-full w-full rounded-md z-[31]"></div>
        <div class="flex flex-col w-full bg-primaryWhite p-4 rounded-tl-md gap-4 bottom-0 right-0 absolute z-[32] ">
            <p class="text-primaryGrey font-medium text-[14px] tracking-wider">STATION DETAILS</p>
            <div class="flex flex-row w-full items-center justify-between">
                <div class="flex flex-col w-full">
                    <p class="text-primaryBlack xl:text-[18px] sm:text-[14px] font-manrope">Address</p>
                    <p class="text-primaryBlack font-manrope font-medium text-[16px]">{{address}}</p>
                </div>
                <div class="flex flex-col w-full justify-start">
                    <p class="text-primaryBlack xl:text-[18px] sm:text-[14px] font-manrope">Latitude</p>
                    <p class="text-primaryBlack font-manrope font-medium text-[16px]">{{latitude}}</p>
                </div>
                <div class="flex flex-col w-full justify-start">
                    <p class="text-primaryBlack xl:text-[18px] sm:text-[14px] font-manrope">Longitude</p>
                    <p class="text-primaryBlack font-manrope font-medium text-[16px]">{{longitude}}</p>
                </div>
            </div>
        </div>
    </div>
</div>