<div class="flex flex-col w-full h-full p-4 gap-12 font-manrope">
    <div class="flex flex-row w-full bg-primaryLightGreen items-center py-4 justify-between rounded-2xl overflow-hidden relative h-[50%]">
        <div class="flex flex-col w-[48%] z-[2] px-8 gap-8">
            <div class="flex flex-col leading-[45px]">
                <p class="text-[28px] font-light text-primaryWhite">Welcome to</p>
                <p class="text-[64px] font-bold text-primaryWhite">CITYFLOW</p>
            </div>
            <p class="text-[16px] font-light text-primaryWhite text-balance">Your all-in-one platform for efficient city bus management. Streamline your operations and keep the flow of your city's transit system running smoothly.</p>
        </div>
        <img src="../../../assets/MainSectionBG.png" class="absolute top-0 left-0 w-full h-full"/>
    </div>  
    <p class="text-primaryBlack font-semibold text-[28px]">Our Services</p>
    <div class="flex flex-row justify-between gap-16 h-[50%] w-full">
        <div class="flex flex-col w-full justify-start items-center gap-4">
            <div class="flex items-center justify-center p-4 rounded-2xl bg-primaryLightGreen/30 size-[50px]">
                <img src="../../../assets/icons/DashboardIcon.png" />
            </div>
            <div class="flex flex-col w-full justify-start items-center leading-[25px]">
                <p class="text-primaryBlack font-semibold text-[24px] uppercase tracking-wider">Statistics</p>
            </div>
            <p class="text-primaryBlack font-light text-[20px] text-balance text-center">Gain valuable insights with comprehensive data on bus performance, route efficiency, and station usage to make informed decisions. Keep your operations optimized!</p>
        </div>
        <div class="flex flex-col w-full justify-start gap-4 items-center">
            <div class="flex items-center justify-center p-4 rounded-2xl bg-primaryLightGreen/30 size-[50px]">
                <img src="../../../assets/icons/travel.png" />
            </div>
            <div class="flex flex-col w-full justify-start leading-[25px] items-center">
                <p class="text-primaryBlack font-semibold text-[24px] uppercase tracking-wider">Route</p>
                <p class="text-primaryBlack font-semibold text-[24px] uppercase tracking-wider">Management</p>
            </div>
            <p class="text-primaryBlack font-light text-[20px] text-balance text-center">Easily organize, monitor, and adjust bus routes to ensure optimal service for every passenger.</p>
        </div>
        <div class="flex flex-col w-full justify-start gap-4 items-center">
            <div class="flex items-center justify-center p-4 rounded-2xl bg-primaryLightGreen/30 size-[50px]">
                <img src="../../../assets/icons/StationsIcon.png" />
            </div>
            <div class="flex flex-col w-full justify-start leading-[25px] items-center">
                <p class="text-primaryBlack font-semibold text-[24px] uppercase tracking-wider">Stations & Bus</p>
                <p class="text-primaryBlack font-semibold text-[24px] uppercase tracking-wider">Management</p>
            </div>
            <p class="text-primaryBlack font-light text-[20px] text-balance text-center">Manage your stations and bus fleet with powerful tools for scheduling, maintenance, and operational insights. Keep your entire network running efficiently.</p>

        </div>

        <!-- <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div> -->
    </div>
</div>