<div class="flex flex-col w-full overflow-x-hidden rounded-md overflow-y-auto bg-primaryWhite font-manrope p-4 gap-4 max-h-[400px] border-[1px] border-gray">
    <div class="flex flex-row w-full justify-between items-center overflow-x-hidden">
        <p class="text-[12px] font-medium text-primaryBlack/60 tracking-wide uppercase">Route types</p>
        <button class="flex flex-row gap-2 items-center group button-hover-effect">
            <img src="../../../assets/icons/TrashIcon.png" class="size-[16px] opacity-50 nav_menu_icon_red"/>
            <p class="text-primaryBlack group-hover:text-lightRed group-hover:opacity-100 
                    opacity-50 font-manrope text-[14px] transition-[0.5s]">
                Delete
            </p>
        </button>
    </div>
    <div class="flex flex-row w-full items-center px-4 overflow-y-auto overflow-x-hidden">
        <div class="w-full" id="pie-chart-routes"></div>
    </div>
</div>