<div class="fixed inset-0 flex items-center justify-center bg-primaryBlack/40 z-50 font-manrope text-white">
    <div class="flex flex-col w-[600px] h-auto bg-primaryWhite rounded-[10px] items-center justify-between justify-center p-4 gap-4">
        <div class="flex flex-row w-full items-center justify-between">
            <p class="text-[24px] font-semibold text-primaryDarkGreen">Add new bus</p>
            <button class="flex size-[30px] rounded-md bg-primaryDarkGreen items-center justify-center 
                            hover:bg-primaryLightGreen transition-[0.5s]"
                (click)="closeModal()">
                <img src="../../../assets/icons/CloseIcon.png" class="size-[20px] nav_menu_icon">
            </button>    
        </div>
        <div class="flex flex-col w-full">
            <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">Licence plate</label>
            <input [(ngModel)]="licencePlate" class="placeholder:italic w-[50%] rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-lightGreen" 
                    placeholder="e. g. AA-1111-BB" type="text"/>
        </div>  

        <div class="flex flex-col w-full items-start justify-start gap-2 mt-4">
            <label class="text-primaryGrey font-medium text-[14px] tracking-wider uppercase">Arrange on routes</label>
            <div class="flex flex-col w-full rounded-md border-[1px] border-primaryGrey/50 p-4 gap-8">
                <div class="flex flex-col justify-start items-start w-full gap-2">
                    <div class="flex flex-row items-center w-full gap-2">
                        <img src="../../../assets/icons/HelpIcon.png" class="size-[15px]"/>
                        <label for="licencePlate" class="text-primaryBlack/70 font-regular text-[12px]">Select one or more routes to which you want to add a new bus</label>
                    </div>
                    <button class="flex flex-row h-[35px] w-[200px] rounded-md bg-white border-[1px] border-primaryGrey/50 
                                    justify-center items-center hover:bg-lightGrey transition-[0.5s] gap-2"
                            (click)="toggleDropdown()">
                        <p class="font-manrope text-darkGrey font-medium text-[14px]">Select routes</p>
                        @if (!isOpen) {
                            <img src="../../../assets/icons/ArrowDownIcon.png" class="size-[20px]"/>
                        } @else {
                            <img src="../../../assets/icons/ArrowUpIcon.png" class="size-[20px]"/>
                        }
                    </button>
        
                    @if (isOpen) {
                        <div class="flex bg-primaryDarkGreen mt-16 absolute rounded-md w-[200px] max-h-[200px] overflow-y-scroll">
                            <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
                                @for (route of routes; track $index) {
                                    <li>
                                        <div class="flex items-center">
                                          <input id="checkbox-item-1" type="checkbox" value="" (change)="onCheckboxChange($event, route)" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                          <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{route.name}}</label>
                                        </div>
                                    </li>
                                }
                              </ul>
                        </div>
                    }
                </div>
                <div class="flex flex-col justify-start items-start w-full gap-2">
                    <p class="font-light text-[14px] tracking-wide uppercase text-primaryBlack">Selected routes</p>
                    <div class="flex flex-row items-center justify-start w-full">
                        @if (selectedRoutes.length === 0) {
                            <p class="text-[20px] font-regular text-primaryBlack">Nothing selected yet </p>
                        } @else {
                            @for (selectedRoute of selectedRoutes; track $index) {
                                <p class="text-[20px] font-regular text-primaryBlack">{{selectedRoute.name}} </p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row w-full items-center justify-center mt-4">
            <button class="w-[220px] h-[45px] font-manrope font-medium text-primaryWhite rounded-md text-[18px] 
                    bg-primaryDarkGreen hover:bg-primaryLightGreen transition-[0.5s]"
                    type="submit" (click)="createBus()">
                Save
            </button>
        </div>
    </div>
</div>