<div class="flex flex-col w-full h-full p-4 gap-8 font-manrope text-white justify-start">
    <div class="flex flex-row w-full justify-between">
        <!-- Search fields and buttons -->
        <div class="search-field">
            <input class="search-input" type="text" [(ngModel)]="nameFilter" (ngModelChange)="onNameFilterChange($event)" placeholder="Search by name">
            <button class="search-btn">
                <fa-icon [icon]="faSearch"/>
            </button>
        </div>
        <div class="search-field">
            <input class="search-input" type="text" [(ngModel)]="roleFilter" (ngModelChange)="searchUsersByRole()" placeholder="Search by role">
            <button class="search-btn">
                <fa-icon [icon]="faSearch"/>
            </button>
        </div>
        <!-- New employee button -->
        <button class="new-employee-btn" (click)="navigateToAddNewEmployee()">
            New Employee <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>

    <!-- Employee cards grid -->
    <div class="grid grid-cols-4 gap-6 justify-between h-full">
        <div *ngFor="let user of users$ | async" class="card hover:translate-y-[-5px] transition-[0.5s]">
            <div class="image-container">
                <img *ngIf="userImages.get(user.id)" [src]="userImages.get(user.id)" alt="{{ user.name }}" class="user-image" (click)="openImageModal(userImages.get(user.id))">
                <div *ngIf="!userImages.get(user.id)" class="no-image-placeholder">X</div>
            </div>
            <div class="card-content">
                <h5 class="card-title">{{ user.name }} {{ user.lastname }}</h5>
                <p class="card-role">{{ getRoleDisplayName(user.roles) }}</p>
                <div class="action-buttons">
                    <button class="edit-btn" (click)="editEmployee(user.id)">
                        <img src="assets/EditEmployee.png" alt="Edit">
                    </button>
                    <button class="salary-btn" (click)="openAssignSalaryForm(user.id)">
                        <img src="assets/UserSalary.png" alt="Salary">
                    </button>
                    <button class="terminate-btn" (click)="navigateToDeleteEmployee(user.id)">
                        <img src="assets/TerminateEmployee.png" alt="Terminate">
                    </button>
                </div>
            </div>
            <div #modal *ngIf="isModalOpen" class="modal-overlay">
                <div class="modal-content">
                  <button class="close" (click)="closeModal()">&times;</button>
                  <div class="modal-body">
                    <img [src]="selectedImage" alt="Full size image">
                  </div>
                </div>
              </div>        
        </div>
    </div>
</div>
