<div class="containerTop1">
    <div class="page-title">
        <h1>Bus Servicings</h1>
      </div>  
    <div class="container">
    <!-- Past Servicings Section -->
    <div class="col-md-12 servicing-section">
      <h3>Past Servicings</h3>
      <ul class="servicing-list">
        <li *ngFor="let servicing of pastServicings" class="servicing-item">
          <div class="servicing-card">
            <p><strong>Bus ID:</strong> {{ servicing.bus.busId }}</p>
            <p><strong>Mileage:</strong> {{ servicing.mileage }}</p>
            <p><strong>Date:</strong> {{ servicing.date  }}</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Future Servicings Section -->
    <div class="col-md-12 servicing-section">
      <h3>Upcoming Servicings</h3>
      <ul class="servicing-list">
        <li *ngFor="let servicing of futureServicings" class="servicing-item">
          <div class="servicing-card">
            <p><strong>Bus ID:</strong> {{ servicing.bus.busId }}</p>
            <p><strong>Mileage:</strong> {{ servicing.mileage }}</p>
            <p><strong>Date:</strong> {{ servicing.date  }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
