<div class="flex flex-col items-center justify-center text-white mt-[-40px] ">
    <button [ngClass]="{'bg-transparent' : 1==1}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewHome()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faHome" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Home</p>
        </div>
    </button>

    <button [ngClass]="{'bg-transparent' : 1==1}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewProfile()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faUser" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Profile</p>
        </div>
    </button>

    @if (loggedUserRole == 'ROLE_SERVICE') {
        <button [ngClass]="{'bg-transparent' : 1==1}"  
        class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="goToRankings()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faStairs" class="text-[24px]"/>
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Bus rankings</p>
            </div>
        </button>
        <button [ngClass]="{'bg-lightGrey/30' : !showCards,
                    'bg-transparent': !showCards}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="goToServicings()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faScrewdriverWrench" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Bus servicings</p>
            </div>
        </button>
    } @else if (loggedUserRole == 'ROLE_ROUTEADMINISTRATOR') {
        <button [ngClass]="{'bg-lightGrey/30' : showRoutes,
                    'bg-transparent': !showCards}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="viewRoutes()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Routes</p>
            </div>
        </button>
    } @else if (loggedUserRole == 'ROLE_HRAdministrator') {
        <button [ngClass]="{'bg-lightGrey/30' : showEmployees,
                    'bg-transparent': !showCards}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-0 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="viewEmployees()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Employees</p>
            </div>
        </button>
    }

</div>