/* General panel styles */
html, body {
  height: 100%;  /* Ensure the body fills the viewport */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Disable scrolling beyond the viewport height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  width: 350px;
  text-align: bottom; /* Center text inside the buttons */
}

.text-white {
  color: #ffffff;
}

/* Button styles */
button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.6s ease;
}

button:hover {
  transform: translateY(-3px); /* Slight lift on hover */
  color: #ffd006;
}

button:active {
  transform: translateY(0); /* Return to original position on click */
}

.bg-lightGrey {
  background-color: rgba(211, 211, 211, 0.3); /* Light grey background for active state */
}

.bg-transparent {
  background-color: transparent;
}

/* Flexbox layout for button content */
button .flex {
  display: flex;
  align-items: bottom;
  justify-content: bottom;
}

/* Adjust icon and text alignment */
button .w-10 {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button .w-90 {
  width: 90%;
  display: flex;
  justify-content: bottom;
}

button p {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease;
}

/* Hover text color change */
button:hover p {
  color: #eeff00; /* Light blue on hover */
}

button:hover .fa-icon {
  color: #eeff00; /* Change icon color on hover */
}

/* Icon styles */
.fa-icon {
  color: #ffffff; /* Default white */
  font-size: 24px;
  transition: color 0.3s ease;
}

/* Button layout adjustments */
button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  button p {
    font-size: 24px; /* Adjust text size for smaller screens */
  }

  .fa-icon {
    font-size: 20px; /* Adjust icon size for smaller screens */
  }
}
