<div class="flex flex-col items-center justify-center text-white">
    <button [ngClass]="{'bg-lightGrey/30' : showHome,
                    'bg-transparent': !showHome}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewHome()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faHome" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Home</p>
        </div>
    </button>

    <button [ngClass]="{'bg-lightGrey/30' : showProfile,
                        'bg-transparent': !showProfile}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewProfile()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faUser" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Profile</p>
        </div>
    </button>

    @if (loggedUserRole == 'ROLE_USER') {
        <button [ngClass]="{'bg-lightGrey/30' : showUserCardBalance,
                    'bg-transparent': !showUserCardBalance}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="navigateToUserCardBalance()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">eWallet</p>
            </div>
        </button>

        <button [ngClass]="{'bg-lightGrey/30' : showCards,
                    'bg-transparent': !showCards}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="viewCards()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Cards</p>
            </div>
        </button>
    } @else if (loggedUserRole == 'ROLE_ROUTEADMINISTRATOR') {
        <button [ngClass]="{'bg-lightGrey/30' : showRoutes,
                    'bg-transparent': !showCards}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="viewRoutes()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Routes</p>
            </div>
        </button>
    } @else if (loggedUserRole == 'ROLE_HRAdministrator') {
        <button [ngClass]="{'bg-lightGrey/30' : showEmployees,
                    'bg-transparent': !showCards}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="viewEmployees()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Employees</p>
            </div>
        </button>
    }@else if (loggedUserRole == 'ROLE_KYCADMINISTRATOR') {
        <button [ngClass]="{'bg-lightGrey/30' : showUserBalance,
                    'bg-transparent': !showUserBalance}" 
        class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                hover:bg-lightGrey/30 transition-[0.5s]"
        (click)="navigateToUserBalance()">
            <div class="flex w-[10%]">
                <fa-icon [icon]="faIdCard" class="text-[24px]"/>
            </div>
            <div class="flex w-[90%] justify-start">
                <p class="ml-[20px] text-[32px]">Update user balance</p>
            </div>
        </button>
    }

    <button [ngClass]="{'bg-lightGrey/30' : showInbox,
                        'bg-transparent': !showInbox}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewInbox()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faInbox" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Inbox</p>
        </div>
    </button>
</div>