<!-- <ul class="flex flex-col w-full items-center justify-start text-white text-left font-manrope font-regular ">
    <li class="flex flex-row w-full justify-start items-center bg-lightGrey/30 rounded-[12px] px-2 mb-2 cursor-pointer 
                hover:bg-lightGrey/30 transition-[0.5s]"
                (click)="viewHome()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faHome" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Home</p>
        </div>
    </li>
    <li class="flex flex-row w-full justify-start items-center rounded-[12px] px-2 my-2 cursor-pointer
                hover:bg-lightGrey/30 transition-[0.5s]">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faUser" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Profile</p>
        </div>
    </li>
    <li class="flex flex-row w-full justify-start items-center rounded-[12px] px-2 my-2 cursor-pointer
                hover:bg-lightGrey/30 transition-[0.5s]">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faIdCard" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Cards</p>
        </div>
    </li>
    <li class="flex flex-row w-full justify-start items-center rounded-[12px] px-2 my-2 cursor-pointer
                hover:bg-lightGrey/30 transition-[0.5s]">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faInbox" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Inbox</p>
        </div>
    </li>
</ul> -->

<div class="flex flex-col items-center justify-center text-white">
    <button [ngClass]="{'bg-lightGrey/30' : showHome,
                    'bg-transparent': !showHome}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewHome()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faHome" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Home</p>
        </div>
    </button>

    <button [ngClass]="{'bg-lightGrey/30' : showProfile,
                        'bg-transparent': !showProfile}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewProfile()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faUser" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Profile</p>
        </div>
    </button>

    <button [ngClass]="{'bg-lightGrey/30' : showCards,
                        'bg-transparent': !showCards}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewCards()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faIdCard" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Cards</p>
        </div>
    </button>

    <button [ngClass]="{'bg-lightGrey/30' : showInbox,
                        'bg-transparent': !showInbox}" 
            class="flex flex-row w-full justify-start items-center px-2 mb-2 cursor-pointer rounded-[12px]
                    hover:bg-lightGrey/30 transition-[0.5s]"
            (click)="viewInbox()">
        <div class="flex w-[10%]">
            <fa-icon [icon]="faInbox" class="text-[24px]"/>
        </div>
        <div class="flex w-[90%] justify-start">
            <p class="ml-[20px] text-[32px]">Inbox</p>
        </div>
    </button>
</div>