<div class="main-container">
  <!-- Title Section -->
  <div class="title">
      <h1>Learn about landmarks and search routes or stops based on the attractions you would like to see </h1>
  </div>

  <!-- Forms Container -->
  <div class="container">
      <!-- Landmarks Form -->
      <div class="form-container">
          <h2>Landmarks</h2>
          <label>Learn more about landmarks :</label>
          <input type="text" id="landmark" [(ngModel)]="landmarkMain">
      
          <button (click)="runLandmarks()">
              <p>Check for answer</p>
          </button>
      
          <div *ngIf="landmarksOutputList.length > 0">
              <h3>Landmarks Output:</h3>
              <div *ngFor="let output of landmarksOutputList; let i = index">
                  <p><strong>Landmark {{ i + 1 }}:</strong></p>
                  <p>Landmark: {{ output.Landmark }}</p>
                  <p>City: {{ output.City }}</p>
                  <p>Region: {{ output.Region }}</p>
                  <p>Number of Citizens: {{ output.NumberOfCitizens }}</p>
                  <hr>
              </div>
          </div>
      </div>

      <!-- Routes Form -->
      <div class="form-container">
          <h2>Routes</h2>
          <label>Any preferred attractions ?</label>
          <input type="text" id="routeDescription" [(ngModel)]="routeDescription">
      
          <button (click)="runRoutes()">
              <p>Check for answer</p>
          </button>
      
          <div *ngIf="routesOutputList.length > 0">
              <h3>Routes Output:</h3>
              <div *ngFor="let output of routesOutputList; let i = index">
                  <p><strong>Route {{ i + 1 }}:</strong></p>
                  <p>Description: {{ output.RouteDescription }}</p>
                  <p>Duration: {{ output.RouteDuration }}</p>
                  <hr>
              </div>
          </div>
      </div>

      <!-- Stops Form -->
      <div class="form-container">
          <h2>Stops</h2>
          <label>Where would you like your bus to stop ?</label>
          <input type="text" id="specialFeatures" [(ngModel)]="specialFeatures">
      
          <button (click)="runStops()">
              <p>Check for answer</p>
          </button>
      
          <div *ngIf="stopsOutputList.length > 0">
              <h3>Stops Output:</h3>
              <div *ngFor="let output of stopsOutputList; let i = index">
                  <p><strong>Stop {{ i + 1 }}:</strong></p>
                  <p>Special Features: {{ output.SpecialFeatures }}</p>
                  <p>Nearby landmarks: {{ output.NearbyLandmarks }}</p>
                  <p>Facilities: {{ output.Facilities }}</p>
                  <hr>
              </div>
          </div>
      </div>
  </div>
</div>
