/* Reset default margin */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
}


/* Center the main content using flexbox */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    min-height: 100vh;
    flex-direction: column;
    border-radius: 10%;
}

/* Container for the forms */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff00;
    width: 90%;
    border-radius: 2.5%;
}

/* Individual form containers */
.form-container {
    flex: 1;
    max-width: 30%;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
}

/* Inputs */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}

/* Button */
button {
    background-color: #1a8300;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007502;
}

button p {
    margin: 0;
}

/* Output Section */
h3 {
    color: #27c300;
}

p {
    margin: 5px 0;
    color: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    background: #555;
    margin: 10px 0;
}

/* Title styling */
h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
