<div class="flex flex-col justify-center items-center pb-12 min-h-screen bg-gray-100">
    <form (ngSubmit)="deleteEmployee()">
        <div class="flex flex-col w-[900px] rounded-[10px] bg-lightGrey/20 items-center justify-center p-6">
            <div class="flex flex-col items-center justify-center w-full border-b-[1px] border-white">
                <p class="text-white font-manrope font-semibold text-[24px]">Are you sure you want to terminate this user?</p>
                <p class="text-white font-manrope font-medium text-[32px]">{{ username }} (<span class="text-[24px]">{{ userRole }}</span>)</p>
            </div>
            <div class="flex flex-row my-4 w-full">
                <div class="flex flex-col w-full">
                    <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                        <p class="text-[16px] mb-2">Reason *</p>
                        <textarea #reasonInput [(ngModel)]="reason" name="reason" class="rounded-[10px] border-[1px] h-[200px] border-white/60 w-full bg-lightGrey/20 px-2 py-4"
          placeholder="Enter reason for termination" required></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="flex flex-row w-[444px] h-[64px] rounded-[10px] bg-white justify-center items-center hover:bg-lightGrey transition-[0.5s]">
                <p class="font-manrope text-darkGrey font-semibold text-[24px]">Terminate</p>
            </button>
        </div>
    </form>
</div>
