<div class="center-container">
    <h1 class="title">Malfunction Report</h1>

    <div class="textarea-container">
        <textarea 
            [(ngModel)]="commentary" 
            class="commentary-input" 
            placeholder="Describe what happened"></textarea>
    </div>

    <div class="priority-container">
        <label class="priority-label">Please rate the priority of malfunction resolving</label>
        <input type="range" [(ngModel)]="priority" min="1" max="5" class="priority-slider">
        <p class="priority-text">Selected priority: {{ priority }}</p>
    </div>

    <button class="report-button" (click)="reportMalfunction(1)">
        <p class="button-text">Report</p>
    </button>
</div>
