<div class="flex flex-col w-full h-full p-4 gap-8 font-manrope text-white items-center justify-between">
    <div class="flex flex-row w-full h-[13%] justify-between items-center">
        <div class="flex flex-col w-[400px] gap-2">
            <p class="text-[16px] text-primaryBlack font-normal">Enter licence plate</p>
            <!-- <div class="flex flex-row w-full rounded-[10px] border-[1px]  p-2
                        h-[50px] border-primaryGrey/50 bg-white/0 w-full items-center gap-2">
                <button class="w-[25px] text-primaryBlack">
                    <fa-icon [icon]="faSearch"/>
                </button>
                <input class="placeholder:italic focus:outline-none text-primaryBlack" placeholder="e.g. AA-1111-BB" ngModel name="password" type="text">
            </div> -->
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" [(ngModel)]="searchText" (input)="searchBuses()"
                        class="placeholder:italic block w-full p-4 ps-10 text-sm text-primaryBlack border border-gray-300 rounded-lg bg-gray-50 focus:ring-primaryGreen focus:border-primaryGreen" 
                        placeholder="e.g. AA-1111-BB" required />
            </div>
        </div>
    </div>
    <div class="flex flex-col h-full w-full overflow-y-auto p-4 gap-8 border-[1px] border-primaryGrey/50 rounded-md">
        <div class="flex flex-row w-full items-center justify-between">
            <div class="flex flex-row w-full items-center justify-between"> 
                <div class="flex flex-row gap-4 items-center">
                    <div class="flex flex-row items-center gap-2">
                        <img src="../../../assets/icons/BusIcon.png" class="size-[24px] icon"/>
                        <p class="text-primaryBlack text-[24px] font-medium">Buses</p>
                    </div>
                    <button class="flex flex-row py-2 px-4 gap-2 items-center rounded-md bg-primaryDarkGreen 
                                    hover:bg-primaryLightGreen transition-[0.5s]"
                            (click)="openCreateBusForm()">
                        <img src="../../../assets/icons/PlusIcon.png" class="size-[15px] nav_menu_icon"/>
                        <p class="text-primaryWhite font-manrope text-[14px]">Add new</p>
                    </button>
                </div>
                <div class="flex flex-row gap-4">
                    <div class="flex flex-row gap-2">
                        <div class="flex size-[20px] rounded-full bg-cityRoutes"></div>
                        <p class="font-manrope text-primaryBlack text-[12px] font-light">Electric buses</p>    
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="flex size-[20px] rounded-full bg-suburbanRoutes"></div>
                        <p class="font-manrope text-primaryBlack text-[12px] font-light">ICE buses</p>    
                    </div>
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            @if (buses.length > 0) {
                @for (bus of filteredBuses; track $index) {
                    <app-bus-card
                        [busId]="bus.id"
                        [licencePlate]="bus.licencePlate"
                        [routes]="bus.routeNames"
                        [bus]="bus"
                        (busDeleted)="handleBusDeleted()"
                        (busEdited)="handleBusEdited()"
                    />
                }
            } @else {
                <div class="col-span-full">
                    <p class="text-[24px] font-semibold text-primaryBlack">There are no buses to display</p>
                    <p class="text-[16px] font-light text-primaryBlack">
                        You can add a new bus by pressing the <span class="font-medium text-primaryDarkGreen">"Add new"</span> button
                    </p>
                </div>
            }
        </div>
    </div>
</div>