<div class="flex flex-col w-full h-full p-4 font-manrope text-white">
    <div class="flex flex-row items-end w-full mb-10 justify-between">
        <div class="flex flex-row items-end">
            <div class="felx flex-col w-[400px]">
                <p>Enter bus number</p>
                <div class="flex flex-row justify-between w-full rounded-[10px] border-[1px] 
                            h-[50px] border-white/60 bg-white/0 w-full px-2 py-4 items-center">
                    <input class="bg-white/0"
                            placeholder="e.g. 123" ngModel name="password"
                            type="text" required>
                    <button class="w-[25px]">
                        <fa-icon [icon]="faSearch"/>
                    </button>
                </div>
            </div>
            <button class="flex flex-row h-[50px] w-[258px] ml-4 rounded-[10px] bg-white justify-center items-center hover:bg-lightGrey transition-[0.5s]">
                <p class="font-manrope text-darkGrey font-semibold text-[16px]">New bus</p>
                <fa-icon [icon]="faPlus" class="w-[16px] ml-[10px] text-darkGrey"/>        
            </button>
        </div>
        <button class="flex items-end justify-center bg-white/0 h-full">
            <p class="underline font-semibold text-[24px]">Show all</p>
        </button>
    </div>
    <div class="flex flex-row flex-wrap w-full justify-between">
        @for (bus of buses; track $index) {
            <app-bus-card
                [busId]="bus.id"
            />
        }
    </div>
</div>