<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="sidebar flex flex-col px-6 py-12 w-[350px] bg-darkGrey h-[100vh]">
    <img src="../../../assets/LogoWithName.png" class="logo w-full h-auto mb-8">
    
    <!-- Conditional content display -->
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
        <app-side-panel-profile></app-side-panel-profile>
        <hr class="divider my-10">
        <app-side-panel-menu></app-side-panel-menu>
    </ng-container>
    
    <ng-template #notLoggedIn>
        <app-signin-signup></app-signin-signup>
        <hr class="divider border-t-4 mb-3 my-10 border-yellow-100">
        <button class="lang-button" (click)="changeLanguage()">
            <p class="lang-button-text">{{'English' | transPipe }}</p>
            <fa-icon [icon]="faLanguage" class="lang-button-icon"/>
        </button>
    </ng-template>
</div>
