/* Sidebar styles */
html, body {
    height: 100%;  /* Ensure the body fills the viewport */
    overflow:auto;
    margin:0; /* Disable scrolling beyond the viewport height */
}

.sidebar {
    /*background-color: #070a41;  Dark gray background for the sidebar */
    background-color: #191919ea;
    width: 250px; /* Fixed width */
    /*height: 200;  Full viewport height */
    padding: 12px 20px; /* Padding for the content */
    display: flex;
    flex-direction: column;
    display: flex;
    min-height: 230vh;
}

/* Logo styles */
.logo {
    width: 100%; /* Full width of the sidebar */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 24px; /* Space below the logo */
}

/* Divider styles */
.divider {
    border-top: 1px solid #6D6D6D; /* Light gray border for the divider */
    width: 100%; /* Full width of the sidebar */
}

/* Not logged in message */
.not-logged-in {
    color: #B0B0B0; /* Light gray text color */
    text-align: center; /* Center the text */
}

.lang-button {
    margin-top: 25px;
    margin-left: 25%;
    background-color: transparent; /* Transparent background */
    color: #ababab; /* Black text color */
    display: flex;
    justify-content: center; /* Center text and icon horizontally */
    align-items: center; /* Center text and icon vertically */
    transition: all 0.3s ease-in-out;
    padding: 0 10px; /* Add padding for better button size */
    border-radius: 10px; /* Rounded corners */
    height: 30px; /* Define button height */
    border: solid 2px #ababab; /* Border styling */
    font-size: 15px; /* Font size for the text */
    width: 100px;
}

.lang-button:hover{
    color: #d3ac00;
    border: solid 2px #554500;
}

.lang-button-text {
    margin: 0; /* Remove default margin */
    line-height: 45px; /* Align text vertically within the button */
}

.lang-button-icon {
    width: 12px; /* Icon width */
    margin-left: 8px; /* Space between text and icon */
}
