<div class="flex flex-col p-6 justify-between w-full bg-sideMenuBg h-full">
    <div class="flex flex-col w-full gap-4">
        <div class="flex w-full flex-col gap-2">
            <img src="../../../assets/LogoWithNameGrey.png">
            <!-- <p class="text-primaryWhite font-manrope tracking-wider font-light">CITY TRANSPORT APPLICATION</p> -->
        </div>
        <hr class="w-full text-primaryGrey/50 my-2">
        <!-- @if(isLoggedIn) {
            <p class="text-primaryGrey text-[14px] font-light tracking-widest">NAVIGATION</p>
            <app-side-panel-menu></app-side-panel-menu>
        } -->
        <p class="text-primaryGrey text-[14px] font-light tracking-widest">NAVIGATION</p>
        <app-side-panel-menu></app-side-panel-menu>
    </div>
    @if(isLoggedIn){
        <div class="flex flex-col w-full gap-4">
            <app-side-panel-profile></app-side-panel-profile>
        </div>
    } @else {
        <app-signin-signup/>
    }
</div>