<div class="flex flex-col p-6 w-full h-full justify-between bg-darkGrey h-[100vh]">
    <div class="flex flex-col h-full gap-4 items-center">
        <img src="../../../assets/LogoWithName.png" class="w-[250px] h-[50px]">
        @if(isLoggedIn){
            <app-side-panel-profile></app-side-panel-profile>
        } @else {
            <app-signin-signup class="justify-end items-end h-full"/>
        }
        <hr class="flex w-full text-lightGrey/20">
        @if(isLoggedIn) {
            <app-side-panel-menu class="w-full"></app-side-panel-menu>
        }
    </div>
    @if (isLoggedIn) {
        <button class="flex flex-row w-[258px] h-[43px] rounded-[10px] border border-white justify-center items-center text-white
                hover:bg-white hover:text-darkGrey transition-all duration-500"
            (click)="signOut()">
            <p class="font-manrope font-semibold text-[16px]">Sign Out</p>
            <fa-icon [icon]="faSignOut" class="w-[16px] ml-[10px]"/>
        </button>
    }
</div>