/* Container and layout styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 20px;
    box-shadow: 10 8px 16px rgba(255, 255, 255, 0.1);
    width: 600px;
    position: absolute;
    top:80%;
    left: 54%;
    transform: translate(-40%, -44%);
}

/* Title styles */
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Malfunction list styles */
.malfunction-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Malfunction item styles */
.malfunction-item {
    background-color: #000000;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid #5a4a00;
}

.malfunction-item p{
    color: #ffffff;
}



.malfunction-item:hover {
    transform: scale(1.02);
    background-color: #000000;
    border: solid #ffcc00;

}

/* Manufacturer and other info styling */
.malfunction-manufacturer {
    flex: 1;
    text-align: left;
    font-size: 50px;
}

.malfunction-manufacturer p{
    color: #ffd006;
  
}


.malfunction-details {
    flex: 3;
    text-align: right;
}

.malfunction-details {
    color: #000000;
}

.malfunction-details p{
    color: #ffd000;
}

.malfunction-info {
    display: flex;
    align-items: center; /* Center vertically */
    width: 100%;
}

.malfunction-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.malfunction-info b {
    color: #ffffff;
    font-size: 1rem;
}

.copyright-section {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    background-color: #000000;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-45%, 20%);
    width: 1300px;
}

/* Specific style for the "In Last Month" information */
.manufacturerClass {
    font-size: 1.6rem; /* Example of increasing font size */
    color: #9f3ab6;    /* Example of changing text color */
    font-weight: bold; /* Example of making text bold */
}


/* Responsive layout */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .malfunction-item {
        padding: 10px;
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .malfunction-info {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .malfunction-manufacturer,
    .malfunction-details {
        width: 100%; /* Full width on smaller screens */
        text-align: center; /* Center text on smaller screens */
    }

    .malfunction-info p {
        font-size: 0.9rem;
    }
}
