.form-container {
    width: 900px;
    padding: 20px;
    background-color: rgba(125, 124, 124, 0.229);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-40%, -20%);
    border: 4px solid #5a4a00;

}

.avatar {
    width: 78px;
    height: 78px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    width: 100%;
}

.form-column {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.spacer {
    width: 4%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #ffd006;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    color: white;
    font-size: 14px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.copyright-section {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    background-color: #353b48;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-45%, 20%);
    width: 1300px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px; 
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
    transform: scale(1.3); /

}


.submit-button {
    width: 204px;
    height: 45px;
    border-radius: 10px;
    background-color: #ffd006;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

.submit-button:hover {
    background-color: #000000;
    color: #ffd006;
}
