<form #SignInForm="ngForm" (ngSubmit)="signIn(SignInForm)" class="flex flex-col font-manrope w-full h-full items-center justify-center gap-4">
    <div class="flex flex-row bg-primaryLightGreen items-center  size-[150px] justify-center rounded-full">
        <img src="../../../assets/Logo.png" class="w-[70px]"/>
    </div>
    <div class="flex flex-col items-center justify-center w-full">
        <p class="text-[24px] text-primaryBlack font-medium">Sign in to your account</p>
        <p class="text-[16px] text-primaryBlack font-light">Enter your username and password to sign in to your account</p>
    </div>
    <div class="flex flex-col w-full items-center justify-center gap-4">
        <div class="flex flex-col lg:w-[50%] xl:w-[35%]">
            <label for="username" class="text-primaryBlack/70 font-regular text-[12px]">Username</label>
            <input ngModel name="username" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-primaryLightGreen" 
                    placeholder="Enter your username here" type="text"/>
        </div>
        <div class="flex flex-col lg:w-[50%] xl:w-[35%]">
            <label for="password" class="text-primaryBlack/70 font-regular text-[12px]">Password</label>
            <div class="relative">
                <input ngModel name="password" class="placeholder:italic w-full rounded-md bg-white border-[1px] border-primaryBlack/20 h-[45px] p-4 text-primaryBlack focus:outline-primaryLightGreen" 
                        placeholder="Enter your passwort here" [type]="getPasswordInputFieldType()"/>
                @if (!showPassword) {
                    <button class="flex flex-row gap-2 absolute top-3 right-4 items-center group button-hover-effect z-20"
                            (click)="toggleShowPassword()">
                        <img src="../../../assets/icons/ViewIcon.png" class="size-[25px] nav_menu_icon_green" (click)="toggleShowPassword()"/>
                    </button>
                } @else {
                    <button class="flex flex-row gap-2 absolute top-3 right-4 items-center group button-hover-effect z-20"
                            (click)="toggleShowPassword()">
                        <img src="../../../assets/icons/HideIcon.png" class="size-[25px] nav_menu_icon_green" (click)="toggleShowPassword()"/>
                    </button>
                }
            </div>
        </div>
        <div class="flex lg:w-[50%] xl:w-[35%] items-center justify-center">
            <button class="flex flex-row w-full h-[45px] rounded-md bg-primaryLightGreen justify-center items-center hover:bg-primaryDarkGreen transition-[0.5s]"
                    type="submit">
                <p class="font-manrope text-primaryWhite font-medium text-[18px]">Sign In</p>
            </button>
        </div>
    </div>

    <!-- <div class="flex lg:w-[50%] xl:w-[35%] items-center justify-end">
        <p class="text-[12px] font-light text-primaryBlack hover:text-primaryLightGreen transition-[0.5s] cursor-pointer">Forgot password?</p>
    </div> -->


    <div class="flex w-full items-center justify-center lg:w-[100%] xl:w-[35%] h-[45px]" id="buttonDiv"></div>

    <div class="flex flex-row lg:w-[50%] xl:w-[35%] items-center justify-center">
        <p class="text-[14px] text-primaryBlack font-light">Don't have an account yet?</p>
        <p class="text-[14px] text-primaryLightGreen font-bold ml-2 hover:text-primaryDarkGreen transition-[0.5s] cursor-pointer"
            (click)="navigationService.navigateToSignUp()">
            Sign up
        </p>
    </div>
    
</form>